


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .25rem;
}

th {
  background-color: #64748b;
  padding: 8px;
  color: #f8fafc;
  font-weight: 500;
}